energie.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PowerRecord">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="id" use="optional"/>
          <xs:attribute type="xs:int" name="sellingUser" use="optional"/>
          <xs:attribute type="xs:string" name="power" use="optional"/>
          <xs:attribute type="xs:string" name="unit" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataEntries">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="PowerRecord" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataEntries"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="firstName" use="optional"/>
      <xs:attribute type="xs:string" name="lastName" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Customer" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnergieDataExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CustomerList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>